lib/PySeq.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2008 rel. 2 (http://www.altova.com) by mazuki (darksiderg) -->
<!--W3C Schema generated by XMLSpy v2008 rel. 2 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="TR">
		<xs:annotation>
			<xs:documentation> transition</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:attribute name="TD" type="xs:string" use="required">
				<xs:annotation>
					<xs:documentation>Type de la loi de probabilité</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="TT" type="xs:unsignedShort" use="optional" default="1">
				<xs:annotation>
					<xs:documentation>Type de la transition (entier positif dont certains prédéfinis)
1 : transition
2 : défaillance
3 : réparation</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="ST" type="xs:string" use="required">
				<xs:annotation>
					<xs:documentation>Nom de l'état de sortie de la transition</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="NAME" type="xs:string" use="required">
				<xs:annotation>
					<xs:documentation>Nom de la transition</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="I" type="xs:unsignedShort" use="optional" default="0">
				<xs:annotation>
					<xs:documentation>Indice de l'état de sortie parmi les états de sortie de la transition</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="SEQ">
		<xs:annotation>
			<xs:documentation> séquence cumulée</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="BR" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="N" type="xs:unsignedInt" use="required">
				<xs:annotation>
					<xs:documentation>Nombre de séquences cumulées dans cette séquence.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="PYCRS">
		<xs:annotation>
			<xs:documentation> liste des séquences cumulées sur la base de l'identité des transitions</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="SEQ" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="NS" type="xs:unsignedInt" use="required">
				<xs:annotation>
					<xs:documentation>Nombre total de séquences tirées</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="NSF" type="xs:unsignedInt" use="required">
				<xs:annotation>
					<xs:documentation>Nombre de séquences retenues après filtrage</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="BR">
		<xs:annotation>
			<xs:documentation> branche (ensemble de transitions simultanées</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="TR" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="T" type="xs:double" use="required">
				<xs:annotation>
					<xs:documentation>Date moyenne de franchissement de la branche.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
</xs:schema>
